#banner {
    background: #fff;
    /*padding-left: 210px;*/
}

.banner img {
    display: block;
    width: 1200px;
    height: 534px;
}

.banner {
    position: relative;
    height: 534px;
    overflow: hidden;
}

.banner ul {
    position: absolute;
}

.banner ul li {
    float: left;
}

.banner .page {
    position: absolute;
    right: 50%;
    bottom: 0;
    padding: 10px;
}

.banner .page span {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.banner .page span.active {
    background-color: rgba(255, 0, 0, .8);
}